.body {
  width: 100%;
  background-color: burlywood;
}


.modifiedButtons {
  border-radius: 0px;
  width: 200px;
}

.navContainer {
  background-color: #ecf0f1;
  width: 20vw;
  height: 100vh;
  float: left;
}

.contentsContainer {
  background-color: #f5f6fa;
  width: 79.5vmax;
  height: 100vh;
  float: right;
}

.Pagetitle {
  color: red;
  text-align: center;
  width: 500px;
  height: 47px;
  font-family: AirbnbCerealApp;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.43px;
  border: 1px solid black;

}
